@media screen and (min-width: 0px){
  #header{
    height:89.53px;
    position:fixed;
    top:0;
    width:100vw;
    left:0;
    box-sizing: border-box;
    background-color:#DFDFDF;
    display:flex;
    justify-content: space-between;
    /* padding: 0 17px; */
    align-items: center;
    z-index: 10;
    display:flex;
    flex-direction:row;
    align-items:center;
    box-shadow: 0px 5px 90px #00000069;
  }
  
  #header-content{
    width:94.5%;
    max-width:1280px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
  }

  #header-links{
    width:75%;
    position:relative;
    top:21px;
    display:flex;
    justify-content: space-between;
    font-family: poppins, sans-serif;
    font-weight:700;
    font-size:20px;
    letter-spacing: -1px;
    text-transform: uppercase;
    
  }
  
  .header-link{
    color: rgb(0,0,0)
  }
  
  #pt-logo{
    background-image:url('/assets/images/logo1.png');
    width: 68px;
    height: 60.84px;
    background-size: cover;
    background-position: center;
  }
  #logo-link_header{
    width:25%;
  }
}
@media screen and (min-width: 700px){
  #header-content{
    width:90%;
  }
  #header{
    height:89px;
  }
  #header-links{
    width:318px;
    top:0px;
    width:496px;
  }
}

